body {
    text-align: center;
    background-color: #011f3f;
}

#level-title {
    font-family: "Press Start 2P", cursive;
    font-size: 3rem;
    margin: 5%;
    color: #fef2bf;
}

.container {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    margin: auto;
}

.btn {
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.red {
    background-color: red;
}

.red.pressed {
    box-shadow: 0 0 30px red;
    background-color: grey;
}

.green {
    background-color: green;
}

.green.pressed {
    box-shadow: 0 0 30px green;
    background-color: grey;
}

.blue {
    background-color: blue;
}

.blue.pressed {
    box-shadow: 0 0 30px blue;
    background-color: grey;
}

.yellow {
    background-color: yellow;
}

.yellow.pressed {
    box-shadow: 0 0 30px yellow;
    background-color: grey;
}
